<form id="newTaskForm" class="form-horizontal" method="POST">
  <fieldset>
  <legend>New / Edit Task</legend>
  <% for(var fieldIdx=0; fieldIdx<taskMetadata.length; fieldIdx++) {
      var metadata = taskMetadata[fieldIdx];
  %>
    <div class="control-group">
      <label class="formFieldTitle muted control-label"><%= metadata.name %></label>
      <div class="controls">
        <span class="formFieldValue"><%- getFormHtml(metadata) %></span>
      </div>
    </div>
  <% } %>

    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
